.nav {
  padding: 20px;
  background-color: #282c34;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #61dafb;
  font-size: 1.2rem;
}

.activeLink {
  color: #21a0f0;
  font-weight: bold;
}
